# Visual Studio
.vs/
out/
x64/
x86/
Debug/
Release/
*.exe
*.obj
*.pdb
*.ilk
ipch/
*.user
*.suo

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# System
Thumbs.db
*.tmp